.AutoCompleteText {
   
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .18);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style-type: none;
    text-align: left;
    margin: 0%;
    padding: 0%;
}

.AutoCompleteText input {
    width: 100%;
    border: none;
    
    padding: 10px 5px;
}

.AutoCompleteText ul::before{
    content: "";
}
.AutoCompleteText li {
    padding: 10px 5px;
}